@media (min-width: 1100px) {
    * {
        --width-main: calc(1051px + 14px);
        --width-quiz-page: 688px;

        --height-header-question: 138px;
        --height-img-quiz-page: 175px;

        --distance-header-myquizzes: 69px;
    }
    
    /* button create new quiz */
    .created-quizzes-header {
        padding-right: 13%;
    }

    /* all quizzes of servidor */

    .all-quizzes-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        justify-content: flex-start;
    }

    .all-quizzes-container article{    
        margin-right: 14px;
    }

    /* quiz page */

    .quiz-page article header {
        font-size: 23px;
    }

    .quiz-page p {
        font-size: 20px;
    }

    article.show-score section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .quiz-page article.show-score img {
        max-width: 50%;
        min-width: 50%;
        margin-right: 21px;
    }

    .quiz-page article.show-score p {
        width: 100%;
        font-size: 19px;

        word-break: break-all;
    }

    .quiz-page>div {
        margin-top: 57px;
    }

    .quiz-page button {
        width: 260px;
        height: 52px;
        font-size: 21px;
    }

    /* Edit question */
    .edit-question {
        width: 600px;
    }




    /* .all-quizzes-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .create-first-quiz {
        max-width: var(--max-width-create);
    }

    .all-quizzes {
        max-width: calc(var(--max-width-create) + 16px);
    }

    .all-quizzes-container article {
        padding-right: 15px;
    }

    .created-quizzes-header {
        max-width: var(--max-width-create);
        justify-content: flex-start;
    }

    .created-quizzes-header p {
        margin-right: 26px;
    }

    .created-quizzes {
        flex-direction: row;
        flex-wrap: wrap;

        max-width: calc(var(--max-width-create) + 16px);
    }

    .created-quiz {
        padding-right: 15px;
    }

    .created-quizzes article:last-child {
        margin-bottom: 14px;
    } */
}