html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    /* variáveis globais */
    --color-bg-header: #EC362D;
    --color-text-header: #fff;
    --color-bg-body: #FAFAFA;
    --color-border-quiz: #D4D4D4;
    --max-width-create: 1051px;
    /*  */
    --width-main: 340px;
    --width-quiz-page: 340px;
    --width-quiz: 340px;

    --height-header-question: 89px;
    --height-img-quiz-page: 113px;
    --height-quiz: 181px;
    --height-header-span: 69px;
    --height-header-quiz-page: 142px;
    --position-top-my-quizzes: calc(var(--height-header-span) + 31px);
    --position-top-all-quizzes: 38px;
    --position-inner-text-quizzes: 75%;
    --margin-top-quiz-page: calc((var(--height-header-quiz-page) + var(--height-header-span)) + 24px);

    --loadding-dimension: 30vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background-color: var(--color-bg-body);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--width-main);
}


/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--color-bg-header);
}

header span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: var(--height-header-span);

    font-weight: 700;
    font-style: normal;
    font-size: 37px;
    line-height: 43px;

    color: var(--color-text-header);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quiz-page-header h2 {
    font-size: 19px;
}

header span.quiz_page_header {
    width: 100%;
    height: var(--height-header-quiz-page);
    background: linear-gradient( 0deg, rgba(0, 0, 0, 0.57) 0.20%, rgba(0, 0, 0, 0.57)), url("../img/castle.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/* tela de entrada quando não há criação de quiz ainda */

.my-quizzes {
    width: 100%;
    margin-top: var(--position-top-my-quizzes);
}

.create-first-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: var(--height-quiz);
    
    border: 1px dashed var(--color-border-quiz);
    margin: auto;
    border-radius: 5px;
}

.create-first-quiz p {
    color: #B9B9B9;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.create-first-quiz p span {
    color: var(--color-bg-header);
    margin: auto;
    font-size: 21px;
    line-height: 27px;
    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;
    border: 1px dashed var(--color-bg-header);
    border-radius: 50px;
}


/* todos os quizzes do servidor */

.all-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: var(--position-top-all-quizzes);
    border-radius: 5px;
}

.all-quizzes p {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 14px;
}

.all-quizzes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-quizzes-container article {
    width: var(--width-quiz);
    height: var(--height-quiz);
    margin-bottom: 14px;
    position: relative;
}

.bg-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient( 180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%), url(image.png);
    border-radius: 5px;
}

.all-quizzes-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.all-quizzes p span {
    font-size: 19px;
    font-weight: normal;
    line-height: 22px;
    color: #fff;
    position: absolute;
    z-index: 2;
    bottom: 15%;
    left: 18px;
    right: 21px;
}


/* Quizzes criados pelo usuario */

.created-quizzes-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width-quiz);
    margin-bottom: 14px;
}

.created-quizzes-header p {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}

.created-quizzes-header ion-icon {
    font-size: 31px;
    color: var(--color-bg-header);
}

.created-quizzes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.created-quiz {
    position: relative;
    margin-bottom: 13px;
}

.created-quizzes article:last-child {
    margin-bottom: 0;
}

.created-quiz img {
    width: var(--width-quiz);
    height: var(--height-quiz);
    border-radius: 5px;
    position: relative;
}

.created-quiz span {
    font-size: 19px;
    font-weight: normal;
    line-height: 22px;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 18px;
    right: 21px;
}


/* Quiz page */

span.quiz-page-header {
    width: 100%;
    height: var(--height-header-quiz-page);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: none;
}

.quiz-page {
    width: var(--width-quiz-page);
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: var(--margin-top-quiz-page);

    scroll-behavior: smooth;
}

.quiz-page article {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 18px;
    margin-bottom: 26px;

    background-color: #fff;
}

.quiz-page article header {
    width: 100%;
    height: var(--height-header-question);
    padding: 5px;

    position: static;
    z-index: 0;

    box-shadow: none;

    font-size: 19px;
    font-weight: 700;
    text-align: center;
    word-break: break-all;
    color: #fff;
}

.quiz-page article section {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-top: 13px;
}

.quiz-page .left,
.quiz-page .right {
    display: flex;
    flex-direction: column;

    width: 100%;    
}

.quiz-page .left {
    margin-right: 12px;
}

.left>div,
.right>div {
    margin-bottom: 12px;
    position: relative;
}

.quiz-page .white-cover {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.quiz-page img {
    max-width: 100%;
    min-width: 100%;
    max-height: var(--height-img-quiz-page);
    min-height: var(--height-img-quiz-page);
    object-fit: cover;
    object-position: center;
}

.quiz-page p {
    width: 100%;
    margin-top: 6px;
    font-weight: 700;
    font-size: 13px;
}


/* last article */

.quiz-page article.show-score {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 18px;
    margin-bottom: 26px;
}

article.show-score section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quiz-page article.show-score img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    margin-top: 9px;
}

.quiz-page article.show-score p {
    width: 100%;
    margin-top: 9px;
    font-size: 17px;
    font-weight: 700;
    color: #484848;
}

.quiz-page>div {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
}


/* Reiniciar ou Home */

.quiz-page button {
    width: 220.32px;
    height: 44px;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    margin-bottom: 8px;
    background-color: #EC362D;
    color: #FFF5F4;
}

div button:last-child {
    background-color: var(--color-bg-body);
    color: #818181;
}


/* Quiz page creator */

.create-quiz-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--position-top-my-quizzes);
}

.container-questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-text-header);
    width: 100vw;
    max-width: 600px;
    padding-top: 21px;
    padding-bottom: 24px;
}

.create-quiz-page h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-top: 37px;
    padding-bottom: 29px;
}

.container-questions h1 {
    width: 95%
}

.container-questions input {
    width: 95%;
    margin-bottom: 9px;
    padding: 14px;
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
}

.create-quiz-page button {
    width: 80vw;
    max-width: 368px;
    margin-top: 30px;
    margin-bottom: 100px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    background-color: var(--color-bg-header);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
}

.edit-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 600px;
    background-color: var(--color-text-header);
    padding-right: 25px;
    padding-left: 17px;
    margin-bottom: 24px;
}


/* CSS transform */

.create-first-quiz p span:hover {
    background-color: var(--color-bg-header);
    color: var(--color-bg-body);
    cursor: pointer;
}

/* Loadding screen */
.load-screen {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--width-quiz-page);
    height: 100%;
}

.load-screen img {
    width: var(--loadding-dimension);
    height: var(--loadding-dimension);
}


/* Utilities */

.hide {
    display: none;
}

.white-cover.unselected {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.6;
}

p.error-quiz-answer-selection {
    color: #FF4B4B;
}

p.success-quiz-answer-selection {
    color: #009C22;
}