html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    /* variáveis globais */
    --color-bg-header: #EC362D;
    --color-text-header: #fff;
    --color-bg-body: #E5E5E5;
    --color-border-quiz: #E5E5E5;

    --max-width-quiz: 340px;
    --max-width-create: 1051px;/*  */
    --width-quiz: 90vw;
    --height-quiz: 181px;
    --height-header-span: 69px;
    --height-header-quiz-page: 142px;

    --position-top-my-quizzes: calc(var(--height-header-span) + 31px);
    --position-top-all-quizzes: 38px;
    --position-inner-text-quizzes: 75%;

    --margin-top-quiz-page: calc((var(--height-header-quiz-page) + var(--height-header-span)) + 24px);
}


body {
    background-color: var(--color-bg-body);
}

header {
    width: 100vw;
    background-color: var(--color-bg-header);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

header span {
    width: 100%;
    height: var(--height-header-span);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: 700;
    font-style: normal;
    font-size: 37px;
    line-height: 43px;
    color: var(--color-text-header);

    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.quiz-page-header h2 {
    font-size: 19px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.create-first-quiz {
    border: 1px dashed var(--color-border-quiz);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    
    max-width: var(--max-width-quiz);
    width: var(--width-quiz);
    height: var(--height-quiz);
    border-radius: 5px;
}

.my-quizzes {
    margin-top: var(--position-top-my-quizzes);
}

.create-first-quiz p {
    color: #B9B9B9;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.create-first-quiz p span {
    color: var(--color-bg-header);
    margin: auto;
    
    font-size: 21px;
    line-height: 27px;
    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;

    border: 1px dashed var(--color-bg-header);
    border-radius: 50px;
}

.all-quizzes {
    margin-top: var(--position-top-all-quizzes);
    width: var(--width-quiz);
    max-width: var(--max-width-quiz);
    height: var(--height-quiz);
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
}

.all-quizzes p {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    margin-bottom: 14px;
}

.all-quizzes-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all-quizzes-img img {
    border-radius: 5px;
    max-width: var(--max-width-quiz);
    width: var(--width-quiz);
    height: var(--height-quiz);

    position: relative;
}

.all-quizzes-img article {
    position: relative;
    padding-right: 15px;
}

.all-quizzes p span {
    font-size: 19px;
    font-weight: normal;
    line-height: 22px;
    color: #fff;


    position: absolute;
    bottom: 15%;
    left: 18px;
    right: 21px;
}

/* .bg-gradient {
    background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 0.5),
        #000000);
} */

@media (min-width: 1100px) {

    .all-quizzes-img {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .create-first-quiz {
        max-width: var(--max-width-create);
    }

    .all-quizzes {
        max-width: calc(var(--max-width-create) + 16px);
    }
}


/* Quiz page */

header span.quiz-page-header {
    width: 100%;
    height: var(--height-header-quiz-page);
    background: linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.57) 0.20%, 
        rgba(0, 0, 0, 0.57)), 
        url("../img/castle.png");
    
    background-size: cover;
    background-repeat: no-repeat;

    box-shadow: none;
}

.quiz-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: var(--margin-top-quiz-page);
}

.quiz-page article {
    width: 375px;
    height: 436px;

    padding: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
}

.quiz-page article header {
    width: 100%;
    height: 89px;
    background-color: #434CA0;
    
    position: static;   
    z-index: 0; 
    box-shadow: none;
    
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}


.quiz-page article section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.quiz-page article section>div {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    margin-top: 13px;
}

.quiz-page img {
    width: 163px;
    height: 113px;
    object-fit: cover;
}

.quiz-page p {
    width: 100%;
    margin-top: 6px;

    font-weight: 700;
    font-size: 13px;
}


/* Utilities */

.hide {
    display: none;
}

.white-cover.error-quiz-answer-selection {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    background-color: #fff;
    opacity: 0.6;
}

p.error-quiz-answer-selection {
    color: #FF4B4B;

}

p.success-quiz-answer-selection {
    color: #009C22;

}

